/* Global
 *********/
body {
  margin: 0;
  background-color: var(--color-tertiary);
  font-family: var(--font);
  overflow: hidden;
}

code {
  padding: 2px;
}
pre {
  padding: 4px;
  overflow: scroll;
  position: relative;
}
pre, code {
  border-radius: 4px;
  font-style: normal;
  font-family: var(--font-code);
  background-color: var(--color-code-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

nav {
  --padding: 8px;
  position: absolute;
  top: 0; right: 0; bottom: auto; left: 0;
  height: var(--header-height);
  background-color: var(--color-primary);
  padding: var(--padding);
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li#logo {
  margin-right: auto;
}
nav ul li#logo * {
  font-size: unset;
  margin: unset;
}
nav ul li:not(:last-of-type) {
  margin-right: var(--padding);
}
nav ul li:last-of-type {
  margin-right: auto;
}
nav ul li a {
  font-size: 3em;
}

a.button {
  text-decoration: none;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  padding: var(--padding);
}
a.button:hover {
  background-color: var(--color-secondary);
}

main {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  min-height: 1vh;
  height: 100%;
}
section {
  --padding: 16px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: var(--header-height);
}

section .content {
  padding: var(--padding);
}

[data-surround-with] {
  line-height: 1em;
}
[data-surround-with]:before,
[data-surround-with]:after {
  content: attr(data-surround-with);
  padding: 4px;
  margin: 4px;
}

/* Specific Pages
 *****************/
section#landing {
  text-align: center;
}

section#landing .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
