/*
 * Transitions
 ***************/
section {
  animation:
    var(--when-animating-out, hide 0s linear 0s both),
    var(--when-animating-in, show 0s linear 0s both);
}

section#banana {
  animation:
    var(--when-animating-out, hide var(--duration-long) ease-in-out 0s both),
    var(--when-animating-in, swirl-in var(--duration-long) ease-in-out 0s both);
}

section#carrot {
  animation:
    var(--when-animating-out, drop-out var(--duration-long) ease-in-out 0s both),
    var(--when-animating-in, show var(--duration-long) ease-in-out 0s both);
}

section#landing {
  animation: var(--when-animating-out, drop-out var(--duration-long) ease-in-out 0s both);
}

section#landing .content h1 {
  animation: var(--when-animating-in, fade-in var(--duration-long) ease-in-out 0s both);
}

section#landing .content p:nth-of-type(1) {
  animation: var(--when-animating-in, fade-in var(--duration-long) ease-in-out calc(var(--duration-long) * 1) both);
}

section#landing .content p:nth-of-type(2) {
  animation: var(--when-animating-in, fade-in var(--duration-long) ease-in-out calc(var(--duration-long) * 2) both);
}

/* Hide/Show pages
 *
 * section:not(.landing-page) matches non-home pages
 * section.landing-page matches the home page
 *
 * Show the page if it is
 *  + home page
 *  + non-home page that has been targetted
 *
 * Hide the page if it is
 *  + home page not preceeded by a targetted page
 *  + non-home page that has not been targetted
 *
 *******************/
section.landing-page,
section:not(.landing-page):target {
  --when-animating-in: unset;
  --when-animating-out: none;
}

section:not(.landing-page):target ~ section.landing-page,
section:not(.landing-page):not(:target) {
  --when-animating-in: none;
  --when-animating-out: unset;
}

/* Allow any property to be disabled during a window of time from when the page loads
 ***************************************************************************************/
:root {
  --duration-long: 0.75s;
  --hidden-while-initializing: hidden;
  animation: initialize 0s ease-in-out var(--duration-long) both;
}

@keyframes initialize {
  to {
    --hidden-while-initializing: unset;
  }
}

/* Entrance Animations
 **********************/
@keyframes appear { from {} to {} }
@keyframes show {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes swirl-in {
  from {
    opacity: 0;
    transform: rotate(720deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Exit Animations
 ******************/
@keyframes hide {
  from {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(0);
  }
  to {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(100vw);
  }
}

@keyframes drop-out {
  from {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateY(0);
  }
  to {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateY(100vh);
  }
}

@keyframes fade-out {
  from {
    visibility: var(--hidden-while-initializing, visible);
    opacity: 1;
  }

  to {
    visibility: var(--hidden-while-initializing, visible);
    opacity: 0;
  }
}

