/* Allow any property to be disabled during a window of time from when the page loads
 ***************************************************************************************/
:root {
  --duration-long: 1s;
  --hidden-while-initializing: hidden;
  animation: initialize 0s ease-in-out var(--duration-long) both;
}

@keyframes initialize {
  to {
    --hidden-while-initializing: unset;
  }
}

/* Hide/show pages
 *******************/
section:target {
  animation: show var(--duration-long) ease-in-out 0s both;
}

section:not(:target) {
  animation: hide var(--duration-long) ease-in-out 0s both;
}

/* Animations
 ******************/
@keyframes show {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    translateX(0);
  }
}

@keyframes hide {
  0% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(0);
  }
  100% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(100vw);
  }
}
