:root {
  --skip-while-initializing: none;
  animation: initialize 0s ease-in-out 2s both;
  --color-primary: wheat;
  --color-secondary: #a98d58;
  --color-ternary: #fbf7f0;
}
@keyframes initialize {
  to {
    --skip-while-initializing: unset;
  }
}
body {
  margin: 0;
  background-color: var(--color-ternary);
}
nav {
  background-color: var(--color-primary);
  padding: 8px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li:not(:last-of-type) {
  margin-right: 8px;
}
nav ul li a {
  text-decoration: none;
  font-size: 3em;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  padding: 8px;
}
nav ul li a:hover {
  background-color: var(--color-secondary);
}

section#content .page {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  margin: 16px;
}

.page:target {
  animation: emphasize 1s ease-in-out 0s both;
}

.page:not(:target) {
  animation: de-emphasize 1s ease-in-out 0s both;
}

@keyframes emphasize {
  0% {
    font-size: 1em;
    background: inherit;
  }
  100% {
    font-size: 2em;
    background: var(--color-primary);
  }
}

@keyframes de-emphasize {
  0% {
    font-size: var(--skip-while-initializing, 2em);
    background: var(--skip-while-initializing, var(--color-primary));
  }
  100% {
    font-size: var(--skip-while-initializing, 1em);
    background: inherit;
  }
}
