.icon-anchor:hover #svg__avoiding-repetition #verbose,
.icon-anchor:active #svg__avoiding-repetition #verbose {
  animation: svg-fade-out 4s infinite;
}

@keyframes svg-fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#svg__page-animations {
  --animation-duration: 4s;
}

.icon-anchor:hover #svg__page-animations #left-window,
.icon-anchor:active #svg__page-animations #left-window {
  --slide-direction: 1;
  animation: svg-slide-in-out var(--animation-duration) infinite;
}

.icon-anchor:hover #svg__page-animations #right-window,
.icon-anchor:active #svg__page-animations #right-window {
  --slide-direction: -1;
  animation: svg-slide-in-out var(--animation-duration) infinite;
  animation-delay: calc(var(--animation-duration) / -2);
}

.icon-anchor:hover #svg__page-animations .cursor,
.icon-anchor:active #svg__page_transitions .cursor {
  --click-size: 4px;
  --x-shift: 106px;
  --y-shift: 44px;
  animation: move-back-and-forth-and-click var(--animation-duration) infinite;
}

@keyframes svg-slide-in-out {
  0% { transform: translateY(0); }
  29% { transform: translateY(0); }
  50% { transform: translateY(calc(var(--slide-direction) * -100%)) }
  51% { visibility: hidden; }
  79% {
    transform: translateY(calc(var(--slide-direction) * 100%));
    visibility: hidden;
  }
  80% {
    transform: translateY(calc(var(--slide-direction) * 100%));
    visibility: visible;
  }
  100% { transform: translateY(0); }
}

#svg__changing-pages {
  --animation-duration: 4s;
}

.icon-anchor:hover #svg__changing-pages #left-window,
.icon-anchor:active #svg__changing-pages #left-window {
  animation: svg-cut-over var(--animation-duration) infinite;
}

.icon-anchor:hover #svg__changing-pages #right-window,
.icon-anchor:active #svg__changing-pages #right-window {
  animation: svg-cut-over var(--animation-duration) infinite;
  animation-delay: calc(var(--animation-duration) / -2);
}

.icon-anchor:hover #svg__changing-pages .cursor,
.icon-anchor:active #svg__changing-pages .cursor {
  --click-size: 4px;
  --x-shift: 106px;
  --y-shift: 44px;
  animation: move-back-and-forth-and-click var(--animation-duration) infinite;
}

@keyframes svg-cut-over {
  0% { opacity: 1; }
  29% { opacity: 1; }
  30% { opacity: 0; }
  79% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes move-back-and-forth-and-click {
  0% { transform: none; }
  10% { transform: none; }
  25% { transform: translateY(var(--click-size)); }
  26% { transform: none; }
  35% { transform: none; }
  55% { transform: translateX(var(--x-shift)) translateY(var(--y-shift)); }
  60% { transform: translateX(var(--x-shift)) translateY(var(--y-shift)); }
  75% { transform: translateX(var(--x-shift)) translateY(calc(var(--y-shift) + var(--click-size))); }
  76% { transform: translateX(var(--x-shift)) translateY(var(--y-shift)); }
  85% { transform: translateX(106px) translateY(44px); }
  100% { transform: none; }
}
