body {
  margin: 0;
  background-color: var(--color-tertiary);
  font-family: var(--font);
  overflow-x: hidden;
}

code {
  padding: 2px;
}
pre {
  padding: 4px;
  overflow-x: scroll;
  position: relative;
}
pre, code {
  border-radius: 4px;
  font-style: normal;
  font-family: var(--font-code);
  background-color: var(--color-code-background);
}

a.button {
  text-decoration: none;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  padding: var(--padding);
}
a.button:hover {
  background-color: var(--color-secondary);
}

a.discrete {
  text-decoration: none;
}

a:not([class]) {
  color: var(--color-dark-primary);
}

p {
  --vertical-margin: 16px;
  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
}

/* no margin on the first paragraph it it has no previous siblings */
div > p:first-of-type {
  margin-top: 0;
}

div > * ~ p:first-of-type {
  margin-top: var(--vertical-margin);
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  content: '\25b8';
  position: absolute;
  right: calc(100% + 4px);
  opacity: 0.25;
}
