/*
 * Transitions
 * docs_link_31919bf0
 ***************/
section {
  animation:
    var(--when-animating-out, drop-out var(--duration-long) linear 0s both),
    var(--when-animating-in, fade-in var(--duration-long) linear 0s both);
}

/* Hide/Show pages
 * docs_link_afcd9582
 * docs_link_31919bf0
 *******************/
section.landing-page,
section:not(.landing-page):target {
  --when-animating-in: unset;
  --when-animating-out: none;
}

section:not(.landing-page):target ~ section.landing-page,
section:not(.landing-page):not(:target) {
  --when-animating-in: none;
  --when-animating-out: unset;
}

/* Allow any property to be disabled during a window of time from when the page loads
 ***************************************************************************************/
:root {
  --duration-long: 0.75s;
  --hidden-while-initializing: hidden;
  animation: initialize 0s ease-in-out var(--duration-long) both;
}

@keyframes initialize {
  to {
    --hidden-while-initializing: unset;
  }
}

/* Entrance Animations
 **********************/
@keyframes appear { from {} to {} }
@keyframes show {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes swirl-in {
  from {
    opacity: 0;
    transform: rotate(720deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Exit Animations
 ******************/
@keyframes hide {
  0% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(0);
  }
  99% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(100vw);
    visibility: hidden;
  }
}

@keyframes drop-out {
  0% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateY(0);
  }
  99% {
    visibility: var(--hidden-while-initializing, visible);
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
    visibility: hidden;
  }
}

@keyframes fade-out {
  0% {
    visibility: var(--hidden-while-initializing, visible);
    opacity: 1;
  }

  99% {
    visibility: var(--hidden-while-initializing, visible);
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

