:root {
  --color-primary: #f5deb3;
  --color-secondary: #a98d58;
  --color-tertiary: #fbf7f0;
  --color-code-background: #ffffff;
  --color-dark-primary: #3c2a0a;
  --header-height: 92px;
  --font-display: 'Nothing You Could Do', cursive;
  --font:'Quicksand', sans-serif;
  --font-code: 'Cutive Mono', monospace;
}
