/* Global
 *********/
body {
  margin: 0;
  background-color: var(--color-tertiary);
  font-family: var(--font);
  overflow-x: hidden;
}

header {
  --padding: 8px;
  position: absolute;
  top: 0; right: 0; bottom: auto; left: 0;
  height: var(--header-height);
  background-color: var(--color-primary);
  padding: var(--padding);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

header .home {
  margin: auto 0 auto 16px;
  justify-self: flex-start;
  font-size: 3em;
}

header .title {
  margin: auto;
  text-align: center;
}

header .title * {
  margin: 0;
}

main {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  min-height: 1vh;
  height: 100%;
}
section {
  --padding: 16px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: var(--header-height);
}

section .content {
  padding: var(--padding);
}

.annotated-code {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  padding: 4px;
  border: 2px solid var(--color-secondary);
}

.annotated-code > div {
  margin: 0;
  flex: 1;
}

.annotated-code > pre {
  margin: 0;
}

.annotated-code ~ .annotated-code {
  margin-top: var(--padding);
}

@media (min-width: 700px) {
  .annotated-code {
    flex-direction: row;
  }
  .annotated-code > pre {
    min-width: 300px;
  }
}
