/* Global
 *********/
body {
  margin: 0;
  background-color: var(--color-tertiary);
  font-family: var(--font);
  overflow-x: hidden;
}

header {
  --padding: 8px;
  position: absolute;
  top: 0; right: 0; bottom: auto; left: 0;
  height: var(--header-height);
  background-color: var(--color-primary);
  padding: var(--padding);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

header .home {
  margin: auto 0 auto 16px;
  justify-self: flex-start;
  font-size: 3em;
}

header .title {
  margin: auto;
  text-align: center;
}

header .title * {
  margin: 0;
}

main {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  min-height: 1vh;
  height: 100%;
}
section {
  --padding: 16px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: var(--header-height);
}

section .content {
  padding: var(--padding);
}

.side-by-side {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  padding: 4px;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  margin-top: var(--padding);
}

.side-by-side > *:nth-child(1) {
  margin: 0;
  margin-bottom: var(--padding);
  flex: 1;
}

.side-by-side > *:nth-child(2) {
  margin: 0;
}

@media (min-width: 700px) {
  .side-by-side {
    flex-direction: row;
  }
  .side-by-side > *:nth-child(1) {
    margin-bottom: 0;
    margin-right: var(--padding);
  }
  .side-by-side > *:nth-child(2) {
    min-width: 300px;
    max-width: 60%;
  }
}
@media (min-width: 1000px) {
  .side-by-side > *:nth-child(2) {
    flex: 1;
    min-width: unset;
    max-width: unset;
  }
}

ul.row-of-links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  ul.row-of-links {
    flex-direction: row;
  }
}
ul.row-of-links > li {
  text-decoration: none;
  margin: auto;
  flex: 1;
}
ul.row-of-links > li:before {
  content: unset;
}

#svg__keeping-it-dry:hover #verbose,
#svg__keeping-it-dry:active #verbose {
  animation: svg-fade-out 4s infinite;
}

@keyframes svg-fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#svg__page-transitions:hover #left-window,
#svg__page-transitions:active #left-window {
  animation: svg-fade-out 2s infinite 1s;
}

#svg__page-transitions:hover #right-window,
#svg__page-transitions:active #right-window {
  animation: svg-fade-out 2s infinite;
}

#svg__changing-pages {
  --animation-duration: 4s;
}

#svg__changing-pages:hover #left-window,
#svg__changing-pages:active #left-window {
  animation: svg-cut-over var(--animation-duration) infinite;
}

#svg__changing-pages:hover #right-window,
#svg__changing-pages:active #right-window {
  animation: svg-cut-over var(--animation-duration) infinite calc(var(--animation-duration) / -2);
}

#svg__changing-pages:hover #cursor,
#svg__changing-pages:active #cursor {
  --click-size: 4px;
  --x-shift: 106px;
  --y-shift: 44px;
  animation: move-back-and-forth-and-click var(--animation-duration) infinite;
}

@keyframes svg-cut-over {
  0% { opacity: 1; }
  29% { opacity: 1; }
  30% { opacity: 0; }
  79% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes move-back-and-forth-and-click {
  0% { transform: none; }
  25% { transform: translateY(var(--click-size)); }
  30% { transform: none; }
  35% { transform: none; }
  55% { transform: translateX(var(--x-shift)) translateY(var(--y-shift)); }
  75% { transform: translateX(var(--x-shift)) translateY(calc(var(--y-shift) + var(--click-size))); }
  80% { transform: translateX(var(--x-shift)) translateY(var(--y-shift)); }
  85% { transform: translateX(106px) translateY(44px); }
  100% { transform: none; }
}
